.maki-menu-container {
  position:fixed;
  margin-left:2%;
}

.maki-menu {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  i {
    margin: 15px 0 15px 50px;
    color: #6500FE;
  }
  span {
    color: black;
    transform: rotate(270deg);
  }
  &:hover {
    span {
      color: #6500FE;
    }
  }
}


@media screen and (max-width: 540px) {
	.maki-menu-container {
    display: none;
	}
}
