.maki-menu-container {
  // background-color: coral;
  position:fixed;
  // margin-left:1%;
}

.maki-menu {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  i {
    margin: 15px 0 15px 50px;
    color: #6500FE;
  }
  span {
    color: black;
    transform: rotate(270deg);
  }
  &:hover {
    span {
      color: #6500FE;
    }
  }
}


@media screen and (max-width: 540px) {
	.maki-menu-container {
    display: none;
	}
}



// $borderSizeLarge: 55px;
// $borderSizeMedium: 40px;

// $fontColor: #1c1b20;
// $fontColorLight: #6d6d6d;
// $colorDefault: #f8f8fb;
// $colorHome: #ff5851;
// $colorContact: #89c2b7;
// $colorAbout: #7dca82;
// $colorIdeas: #414a6b;
// $colorCareers: #b49a85;
// $colorProjects: #d8d8d8;
// $colorPhilo: #f3c130;
// $pageBackground: #f8f8f8;

// $purppleMaki: #6500FE;

// $transitionDuration : 500ms;
// $ease : cubic-bezier(0.7, 0, 0.3, 1);
// $ease2 : cubic-bezier(0.560, 0.000, 0.265, 1.000);
// $ease3 : cubic-bezier(1, 0, 0, 1);

// $mobile: 480px;
// $small: 767px;
// $medium: 992px;
// $large: 1200px;
// $vlarge: 1600px;

// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;900&display=swap');

// #menu {
// 	position: fixed;
// 	top: 0;
// 	left: 0px;
// 	right: 80px;
// 	height: 100%;
// 	z-index: 500;


// 	overflow: auto;
// 	-webkit-overflow-scrolling: touch;
// 	background: white;
// 	padding: 0px;

// 	// @include display(flex);
// 	display: -webkit-box;
// 	display: -moz-box;
// 	display: box;
// 	display: -webkit-flex;
// 	display: -moz-flex;
// 	display: -ms-flexbox;
// 	display: flex;
// 	// ********************************************
// 	// @include flex-direction(column);
// 	-webkit-box-orient: vertical;
// 	-moz-box-orient: vertical;
// 	box-orient: vertical;
// 	-webkit-box-direction: normal;
// 	-moz-box-direction: normal;
// 	box-direction: normal;
// 	-webkit-flex-direction: column;
// 	-moz-flex-direction: column;
// 	flex-direction: column;
// 	-ms-flex-direction: column;
// 	// ********************************************
// 	// @include justify-content(space-between);
// 	-webkit-box-pack: justify;
// 	-moz-box-pack: justify;
// 	box-pack: justify;
// 	-webkit-justify-content: space-between;
// 	-moz-justify-content: space-between;
// 	-ms-justify-content: space-between;
// 	-o-justify-content: space-between;
// 	justify-content: space-between;
// 	-ms-flex-pack: justify;
// 	// ********************************************
// 	// @include transition(transform $transitionDuration $ease3 0ms, left $transitionDuration $ease3 0ms);
// 	-webkit-transition: -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
// 	-moz-transition: -moz-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
// 	transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
// 	// ********************************************
// 	// @include transform(translateX(-100%));
// 	-webkit-transform: translateX(-100%);
// 	-moz-transform: translateX(-100%);
// 	-ms-transform: translateX(-100%);
// 	-o-transform: translateX(-100%);
// 	transform: translateX(-100%);

// 	@media (min-width: $small) {
// 		left: $borderSizeMedium;
// 		right: 20%;
// 		// @include flex-direction(row);
// 		-webkit-box-orient: horizontal;
// 		-moz-box-orient: horizontal;
// 		box-orient: horizontal;
// 		-webkit-box-direction: normal;
// 		-moz-box-direction: normal;
// 		box-direction: normal;
// 		-webkit-flex-direction: row;
// 		-moz-flex-direction: row;
// 		flex-direction: row;
// 		-ms-flex-direction: row;
// 		// ********************************************
// 		// @include align-items(center);
// 		-webkit-box-align: center;
// 		-moz-box-align: center;
// 		box-align: center;
// 		-webkit-align-items: center;
// 		-moz-align-items: center;
// 		-ms-align-items: center;
// 		-o-align-items: center;
// 		align-items: center;
// 		-ms-flex-align: center;
// 		// ********************************************
// 		overflow: hidden;
// 	}

// 	@media (min-width: $vlarge) {
// 		left: $borderSizeLarge;
// 	}

// 	.menuHover & {
// 		@media (min-width: $small) {
// 			// @include transform(translateX(-95%));
// 			-webkit-transform: translateX(-95%);
// 			-moz-transform: translateX(-95%);
// 			-ms-transform: translateX(-95%);
// 			-o-transform: translateX(-95%);
// 			transform: translateX(-95%);
// 		}
// 	}

// 	.menuOpen & {
// 		// @include transform(translateX(0%));
// 		-webkit-transform: translateX(0%);
// 		-moz-transform: translateX(0%);
// 		-ms-transform: translateX(0%);
// 		-o-transform: translateX(0%);
// 		transform: translateX(0%);

// 		>*:not(.color) {
// 			// @include transform(translateX(0%));
// 			-webkit-transform: translateX(0%);
// 			-moz-transform: translateX(0%);
// 			-ms-transform: translateX(0%);
// 			-o-transform: translateX(0%);
// 			transform: translateX(0%);
// 		}
// 	}

// 	>*:not(.color) {
// 		position: relative;
// 		z-index: 10;
// 	}

// 	.list-socials {
// 		margin-bottom: 40px;
// 		opacity: 0;
// 		// @include transform(translateY(50px));
// 		-webkit-transform: translateY(50px);
// 		-moz-transform: translateY(50px);
// 		-ms-transform: translateY(50px);
// 		-o-transform: translateY(50px);
// 		transform: translateY(50px);
// 		// @include transition(transform 600ms $ease3 0ms, opacity 400ms linear 0ms);
// 		-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;

// 		.menuOpen & {
// 			opacity: 1;
// 			// @include transform(translateY(0px));
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);
// 			// @include transition(transform 600ms $ease3 200ms, opacity 400ms linear 350ms);
// 			-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 			-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 			transition: transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 		}
// 	}

// 	.menu-container {

// 		margin-left: 0px;

// 		@media (max-width: 766px) {
// 			min-height: 100%;
// 			padding-left: 0px;
// 			// @include display(flex);
// 			display: -webkit-box;
// 			display: -moz-box;
// 			display: box;
// 			display: -webkit-flex;
// 			display: -moz-flex;
// 			display: -ms-flexbox;
// 			display: flex;
// 			// @include flex-direction(column);
// 			-webkit-box-orient: vertical;
// 			-moz-box-orient: vertical;
// 			box-orient: vertical;
// 			-webkit-box-direction: normal;
// 			-moz-box-direction: normal;
// 			box-direction: normal;
// 			-webkit-flex-direction: column;
// 			-moz-flex-direction: column;
// 			flex-direction: column;
// 			-ms-flex-direction: column;
// 			/*******************************/
// 			padding: 0px 40px;
// 		}

// 		@media (min-width: $small) {
// 			padding: 0px;
// 			padding-left: calc(16vw - 40px);
// 		}

// 		@media (min-width: $large) {
// 			padding-left: calc(16vw - 60px);
// 		}

// 		.menu-nav {

// 			margin: 0px;
// 			padding: 0px;
// 			list-style: none;
// 			margin-bottom: 20px;
// 			margin-left: -10px;
// 			margin-top: 100px;

// 			@media (min-width: $small) {
// 				margin-bottom: 60px;
// 				margin-top: 0px;
// 			}

// 			@media (min-width: $vlarge) {
// 				margin-bottom: 100px;
// 			}

// 			li {

// 				.msk {
// 					padding: 0px;
// 					line-height: 1.1;

// 					span {
// 						// @include transition(transform 800ms $ease3 0ms);
// 						-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 						-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 						transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 						// @include transform(translateY(100%));
// 						-webkit-transform: translateY(100%);
// 						-moz-transform: translateY(100%);
// 						-ms-transform: translateY(100%);
// 						-o-transform: translateY(100%);
// 						transform: translateY(100%);
// 					}
// 				}

// 				.menuOpen & {

// 					@for $i from 1 through 10 {
// 						&:nth-child(#{$i}) .msk span {
// 							// @include transition-delay(50ms * $i + 250ms);
// 							transition-delay: (50ms * $i + 250ms);
// 						}
// 					}

// 					.msk {
// 						span {
// 							position: relative;
// 							// @include transform(translateY(0%));
// 							-webkit-transform: translateY(0%);
// 							-moz-transform: translateY(0%);
// 							-ms-transform: translateY(0%);
// 							-o-transform: translateY(0%);
// 							transform: translateY(0%);
// 							/*************************************************/
// 							padding: 0 10px;

// 							&:before {
// 								content: '';
// 								display: block;
// 								position: absolute;
// 								top: 50%;
// 								left: 0px;
// 								right: 0px;
// 								height: 15px;
// 								background: #000;
// 								opacity: 0.5;
// 								z-index: -1;
// 								// @include transform-origin(left center);
// 								transform-origin: left center;
// 								// @include transform(scaleX(0) translateY(-50%));
// 								-webkit-transform: scaleX(0) translateY(-50%);
// 								-moz-transform: scaleX(0) translateY(-50%);
// 								-ms-transform: scaleX(0) translateY(-50%);
// 								-o-transform: scaleX(0) translateY(-50%);
// 								transform: scaleX(0) translateY(-50%);
// 								// @include transition(transform 400ms $ease3 0ms);
// 								-webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
// 								-moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
// 								transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
// 							}
// 						}
// 					}
// 				}

// 				&+li {
// 					margin-top: 6px;
// 				}

// 				a {
// 					display: inline-block;
// 					vertical-align: middle;
// 					position: relative;
// 					font-family: 'Outfit', sans-serif;
// 					font-size: 2.1rem;
// 					line-height: 1.1;
// 					font-weight: 600;
// 					text-decoration: none !important;
// 					color: inherit;

// 					@media (min-width: 360px) {
// 						font-size: 2.4rem;
// 					}


// 					@media (min-width: $small) {
// 						font-size: 3rem;
// 					}

// 					@media (min-width: $vlarge) {
// 						font-size: 3.8rem;
// 					}

// 					&.active {
// 						pointer-events: none;
// 					}

// 					&.page-home-link .msk span:before {
// 						background: $purppleMaki;
// 					}

// 					&.page-projects-link .msk span:before {
// 						background: $purppleMaki;
// 					}

// 					&.page-ideas-link .msk span:before {
// 						background: $purppleMaki;
// 					}

// 					&.page-careers-link .msk span:before {
// 						background: $purppleMaki;
// 					}

// 					&.page-contacts-link .msk span:before {
// 						background: $purppleMaki;
// 					}

// 					&.page-philo-link .msk span:before {
// 						background: $purppleMaki;
// 					}

// 					&:hover .msk span:before,
// 					&.active .msk span:before {
// 						// @include transform(scaleX(1) translateY(-50%));
// 						-webkit-transform: scaleX(1) translateY(-50%);
// 						-moz-transform: scaleX(1) translateY(-50%);
// 						-ms-transform: scaleX(1) translateY(-50%);
// 						-o-transform: scaleX(1) translateY(-50%);
// 						transform: scaleX(1) translateY(-50%);
// 					}
// 				}
// 			}
// 		}

// 		p {
// 			max-width: 240px;
// 			color: #7e7e7e;
// 			opacity: 0;
// 			// @include transform(translateX(-150px));
// 			-webkit-transform: translateX(-150px);
// 			-moz-transform: translateX(-150px);
// 			-ms-transform: translateX(-150px);
// 			-o-transform: translateX(-150px);
// 			transform: translateX(-150px);
// 			// @include transition(transform 600ms $ease3 0ms, opacity 400ms linear 0ms);
// 			-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 			-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 			transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;

// 			.menuOpen & {
// 				opacity: 1;
// 				// @include transform(translateX(0px));
// 				-webkit-transform: translateX(0px);
// 				-moz-transform: translateX(0px);
// 				-ms-transform: translateX(0px);
// 				-o-transform: translateX(0px);
// 				transform: translateX(0px);
// 				// @include transition(transform 600ms $ease3 200ms, opacity 400ms linear 350ms);
// 				-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 				-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 				transition: transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 			}
// 		}
// 	}

// 	.contact {
// 		width: 100%;
// 		// @include align-self(flex-end);
// 		-webkit-align-self: flex-end;
// 		-moz-align-self: flex-end;
// 		align-self: flex-end;
// 		-ms-flex-item-align: end;
// 		/***********************************/
// 		margin: 40px 0px;
// 		margin-top: auto;
// 		opacity: 0;
// 		margin: 40px 0px;
// 		margin-top: auto;
// 		margin-bottom: 0;
// 		opacity: 0;
// 		// @include transform(translateY(50px));
// 		-webkit-transform: translateY(50px);
// 		-moz-transform: translateY(50px);
// 		-ms-transform: translateY(50px);
// 		-o-transform: translateY(50px);
// 		transform: translateY(50px);
// 		// @include transition(transform 600ms $ease3 0ms, opacity 400ms linear 0ms);
// 		-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;

// 		a {
// 			color: #000;
// 			font-size: 1.2rem;
// 			// letter-spacing: 0.2em;
// 			text-decoration: none;
// 			font-family: 'Outfit', sans-serif;
// 		}

// 		.addresse {
// 			font-style: normal;
// 			font-weight: 400;
// 		}

// 		.phone {
// 			font-style: normal;
// 			font-weight: 600;
// 		}

// 		.mail {
// 			font-style: normal;
// 			font-weight: 600;
// 		}

// 		.menuOpen & {
// 			opacity: 1;
// 			// @include transform(translateY(0px));
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);
// 			// @include transition(transform 600ms $ease3 200ms, opacity 400ms linear 350ms);
// 			-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 			-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 			transition: transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
// 		}
// 	}

// 	.briefLink {

// 		position: absolute;
// 		bottom: $borderSizeMedium * 2;
// 		left: calc(16vw - 60px);
// 		margin-bottom: 0px;
// 		opacity: 0;
// 		// @include transform(translateY(50px));
// 		-webkit-transform: translateY(50px);
// 		-moz-transform: translateY(50px);
// 		-ms-transform: translateY(50px);
// 		-o-transform: translateY(50px);
// 		transform: translateY(50px);
// 		// @include transition(transform 600ms $ease3 0ms, opacity 400ms linear 0ms);
// 		-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;

// 		@media (min-width: $vlarge) {
// 			bottom: $borderSizeLarge * 2;
// 		}

// 		.menuOpen & {
// 			opacity: 1;
// 			// @include transform(translateY(0px));
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);
// 			// @include transition(transform 600ms $ease3 250ms, opacity 400ms linear 400ms);
// 			-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 250ms, opacity 400ms linear 400ms;
// 			-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 250ms, opacity 400ms linear 400ms;
// 			transition: transform 600ms cubic-bezier(1, 0, 0, 1) 250ms, opacity 400ms linear 400ms;
// 		}
// 	}

// 	.newsletterLink {
// 		position: absolute;
// 		left: 40px;
// 		bottom: 120px;
// 		opacity: 0;
// 		// @include transform(translateY(50px));
// 		-webkit-transform: translateY(50px);
// 		-moz-transform: translateY(50px);
// 		-ms-transform: translateY(50px);
// 		-o-transform: translateY(50px);
// 		transform: translateY(50px);
// 		// @include transition(transform 600ms $ease3 0ms, opacity 400ms linear 0ms);
// 		-webkit-transition: -webkit-transform 600ms $ease3 0ms, opacity 400ms linear 0ms;
// 		-moz-transition: -moz-transform 600ms $ease3 0ms, opacity 400ms linear 0ms;
// 		transition: transform 600ms $ease3 0ms, opacity 400ms linear 0ms;

// 		@media (min-width: $small) {
// 			bottom: $borderSizeMedium * 2;
// 			left: initial;
// 			right: calc(16vw - 60px);
// 			margin-bottom: 0px;
// 		}

// 		@media (min-width: $vlarge) {
// 			bottom: $borderSizeLarge * 2;
// 		}

// 		.menuOpen & {
// 			opacity: 1;
// 			// @include transform(translateY(0px));
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);
// 			// @include transition(transform 600ms $ease3 250ms, opacity 400ms linear 400ms);
// 			-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 250ms, opacity 400ms linear 400ms;
// 			-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 250ms, opacity 400ms linear 400ms;
// 			transition: transform 600ms cubic-bezier(1, 0, 0, 1) 250ms, opacity 400ms linear 400ms;
// 		}
// 	}
// }


// .briefLink, .newsletterLink {

// 	position:relative;
// 	display:inline-block;
// 	color:inherit!important;
// 	text-decoration:none!important;
// 	white-space: nowrap;
// 	background: 0;
// 	padding: 0;
// 	border: 0;
// 	outline: none!important;

// 	@media (min-width: $small) {
// 		margin-left:40px;
// 	}

// 	@media (min-width: $large) {
// 		margin-left:0px;
// 	}

// 	.block-title {
// 		margin-bottom:0px;
// 		display:block;
// 		font-size: 1.2rem;
// 		font-weight: 400;
// 		font-family: 'Outfit', sans-serif;
// 	}

// 	.arrow {

// 		display:none;
// 		position:absolute;
// 		width:40px;
// 		top:50%;
// 		right:100%;
// 		// @include transform(translateY(-50%));
// 		-webkit-transform: translateY(-50%);
// 		-moz-transform: translateY(-50%);
// 		-ms-transform: translateY(-50%);
// 		-o-transform: translateY(-50%);
// 		transform: translateY(-50%);
// 		// @include transition(all 600ms $ease3 0ms);
// 		-webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		-moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
// 		transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;


// 		margin-right:40px;

// 		@media (min-width: $large) {
// 			margin-right:80px;
// 		}

// 		@media (min-width: $small) {
// 			display:block;
// 		}

// 		.line {
// 			width:100%;
// 			height:2px;
// 			display:block;
// 			float:right;
// 			// @include transition(width 600ms $ease3 0ms);
// 			-webkit-transition: -webkit-width 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 			-moz-transition: -moz-width 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 			transition: width 600ms cubic-bezier(1, 0, 0, 1) 0ms;

// 			overflow:hidden;
// 			.inner {
// 				background:$fontColor;
// 				width:100%;
// 				height:2px;
// 				display:block;
// 				float:right;
// 				// @include transition(width 600ms $ease3 0ms);
// 				-webkit-transition: -webkit-width 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 				-moz-transition: -moz-width 600ms cubic-bezier(1, 0, 0, 1) 0ms;
// 				transition: width 600ms cubic-bezier(1, 0, 0, 1) 0ms;

// 			}
// 		}

// 		svg {
// 			position:absolute;
// 			top:50%;
// 			right:0px;
// 			// @include transform(translate(2px, -50%));
// 			-webkit-transform: translate(2px, -50%);
// 			-moz-transform: translate(2px, -50%);
// 			-ms-transform: translate(2px, -50%);
// 			-o-transform: translate(2px, -50%);
// 			transform: translate(2px, -50%);
// 		}

// 	}

// 	&:hover {
// 		.arrow {

// 			// @include transform(translate(20px, -50%));
// 			-webkit-transform: translate(20px, -50%);
// 			-moz-transform: translate(20px, -50%);
// 			-ms-transform: translate(20px, -50%);
// 			-o-transform: translate(20px, -50%);
// 			transform: translate(20px, -50%);

// 			width:60px;

// 			@media (min-width: $large) {
// 				// @include transform(translate(40px, -50%));
// 				-webkit-transform: translate(40px, -50%);
// 				-moz-transform: translate(40px, -50%);
// 				-ms-transform: translate(40px, -50%);
// 				-o-transform: translate(40px, -50%);
// 				transform: translate(40px, -50%);
// 				width:80px;
// 			}

// 			.line .inner {
// 				width:20px;
// 				// @include transition(width 800ms $ease3 0ms);
// 				-webkit-transition: -webkit-width 800ms cubic-bezier(1, 0, 0, 1) 0ms;
// 				-moz-transition: -moz-width 800ms cubic-bezier(1, 0, 0, 1) 0ms;
// 				transition: width 800ms cubic-bezier(1, 0, 0, 1) 0ms;
				
// 				@media (min-width: $large) {
// 					width:40px;
// 				}
// 			}
// 		}
// 	}

// 	.next-page-title{
// 		font-weight:900;
// 		font-size:1.5rem;
// 		font-family: 'Outfit', sans-serif;
// 		text-transform:uppercase;
// 		line-height:1.4;

// 		@media (min-width: $vlarge) {
// 			font-size:1.5rem;
// 		}

// 	}

// }

// .newsletterLink {
// 	@media (max-width: calc(#{$small} - 1px)) {
// 		margin-top: 20px;
// 	}
// }


// .menuColor {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	// @include transition(opacity $transitionDuration $ease3 0ms);
// 	-webkit-transition: -webkit-opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;
// 	-moz-transition: -moz-opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;
// 	transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;

// 	background: #6500FE;
// 	z-index: 11;
// 	opacity: 0;
// 	pointer-events: none;

// 	.menuOpen & {
// 		opacity: 1;
// 		pointer-events: all;

// 		@media (min-width: $small) {
// 			opacity: 0.95;
// 		}
// 	}
// }