$borderSizeLarge:55px;
$borderSizeMedium:40px;

$fontColor:#1c1b20;
$fontColorLight:#6d6d6d;
$colorDefault:#f8f8fb;
$colorHome:#ff5851;
$colorContact:#89c2b7;
$colorAbout:#7dca82;
$colorIdeas:#414a6b;
$colorCareers:#b49a85;
$colorProjects:#d8d8d8;
$colorPhilo:#f3c130;
$pageBackground:#f8f8f8;

$transitionDuration : 500ms;
$ease : cubic-bezier(0.7,0,0.3,1);
$ease2 : cubic-bezier(0.560, 0.000, 0.265, 1.000);
$ease3 : cubic-bezier(1, 0, 0, 1);

$mobile:480px;
$small:767px;
$medium:992px;
$large:1200px;
$vlarge:1600px;