$font: "Outfit";

text {
  font-family: $font;
}
p {
  font-family: $font;
}
span {
  font-family: $font;
}
small {
  font-family: $font;
}
strong {
  font-family: $font;
}
h1 {
  font-family: $font;
}
h2 {
  font-family: $font;
}
h3 {
  font-family: $font;
}
h4 {
  font-family: $font;
}
h5 {
  font-family: $font;
}
h6 {
  font-family: $font;
}

