.title {
  font-size: 80px;
}


@media screen and (max-width: 450px) {
  .title {
    font-size: 70px;
  }
}

.titleSecondary {
  font-size: 50px;
}

@media screen and (max-width: 450px) {
  .titleSecondary{
    font-size: 40px;
  }
}

.content {
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .content{
    font-size: 20px;
  }
}
// text {
//   font-size: 25px;
// }
// p {
//   font-size: 22px;
// }
// h1 {
//   font-size: 17px;
// }
// h2 {
//   font-size: 16px;
// }
// h3 {
//   font-size: 15px;
// }
// h4 {
//   font-size: 14px;
// }
// h5 {
//   font-size: 13px;
// }
// h6 {
//   font-size: 12px;
// }