$primary: #6500FE;
$secondary: #1D1D1B;
$background: #F8F8F8;


// .colors {
//   "primary": $primary,
//   "sencondary": $secondary,
// }

.gris {
  background-color: $background;
}

.caja {
  // display: flex;
  margin: 10px 50px 10px 100px;
  width: 90%;
}

.parrafo {
  margin: 20px;
  display: flex;
}

.imagen {
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
}

.imagenCard {
  margin: 15px;
  height: 250px;
  width: 250px;
}

.logos {
  margin: 20px;
  height: auto;
  width: auto;
  background-color: white;
}

li{
  color: $primary;
}
li {
  text{
    color: black;
  }
}