$primary: #6500FE;
$secondary: #1D1D1B;
$background: #F8F8F8;


// .colors {
//   "primary": $primary,
//   "sencondary": $secondary,
// }

.gris {
  background-color: $background;
}

.caja {
  // display: flex;
  // margin: 0px 12px 0px 12px;

  width: 100%;
  .row {
    padding: 0;
    margin: 0;
  }
}

.maki-box-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

// const BREAKPOINTS = { mobile: 0, tablet: 768, desktop: 1280 }
// @media screen and (max-width: 768px){
//   .caja {
//     display: inline-block;
//   }
// }

.linkTo {
	//background-color: red;
	width: 500px;
	display: flex;
	flex-direction: row;
	a {
		width: 150px;
		transform: rotate(270deg);
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		color: white;
		text-decoration: none;
		img {
			transform: rotate(180deg);
			align-self: flex-end;
			margin: 50px 20px 5px 10px;
			height: 15px;
			transition: ease .9s;
		}
	}
	&:hover {
		img {
			margin-left: 55px;
		}
	}
}

.parrafo {
  margin: 20px;
  display: flex;
}

.imagen {
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
}