$primary: #6500FE;
$secondary: #1D1D1B;
$background: #F8F8F8;


// .colors {
//   "primary": $primary,
//   "sencondary": $secondary,
// }
body {
  // margin: 0px 0px 0px 0px ;
  // margin-left: 5000px;
  // padding-left: 800px;
  // display: block;
  // padding: 0;
  // right: 0px;
  position: relative;
  // background-color: lightcoral;
  // width: 90%;
}

text {
  font-family: 'Outfit'
}

p {
  font-family: "Outfit";
}

.gris {
  background-color: $background;
}

.caja {
  display: flex;
  margin: 10px 50px 10px 100px;
  width: 90%;
}

.title {
  margin: 20px;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: 'Outfit'
}

.titleSecondary {
  // margin: 20px;
  font-size: 50px;
  font-family: 'Outfit'
}

.content {
  font-size: 20px;
}

.parrafo {
  margin: 20px;
  display: flex;
}

.carrucel {
  display: flex;
  flex-direction: row;
  // background-color: green;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  // background-color: red;
}

.imagen {
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
}

.imagenCard {
  margin: 15px;
  height: 250px;
  width: 250px;
}

.logos {
  margin: 20px;
  height: auto;
  width: auto;
  background-color: white;
}

li{
  color: $primary;
}
li {
  text{
    color: black;
  }
}