
.title-purple-maki {
  color: #6500FE;
  line-height: 1;
  font-weight: 700;
  font-size: 40px;
}

.subtitle-black-maki {
  color: #000;
  margin-top: -10px;
  font-weight: 700;
}

.col-contacto1{
	background-color: blue;
}

@media screen and (max-width: 450px) {
	.col-contacto1{
		// background-color: red;
		padding-left: 0px ;
	}
}

.maki-box-contactoL {
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 450px) {
	.maki-box-contactoL {
		// background-color: red;
		height: 50vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.maki-box-contactoR {
	// background-color: red;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 450px) {
	.maki-box-contactoR {
		height: 70vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}