.content-contact-maki{
  // background-color: #000;
  margin-top: 100px !important;
  margin-bottom: auto;
}

.title-purple-maki {
  color: #6500FE;
  line-height: 1;
  font-weight: 700;
  font-size: 40px;
}

.subtitle-black-maki {
  color: #000;
  margin-top: -10px;
  font-weight: 700;
}