.footer {
  width: 100% !important;
  height: 200px;
  // display: flex;
  // flex-direction: row;
  // align-items: center !important;
  // margin: 0 !important;
  // div {
  //   display: grid;
  //   grid-template-columns:  8fr 10fr;
  //   column-gap: 3em;
  // }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  // height: 100px;
}