.timeLine-content {
  //background-color: blue;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
.timeline{
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status{
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
  h4{
    font-weight: 600
  }
  &:before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -5px;
    left: 42%;
    transition: all 200ms ease-in;
  }
}

li{
  .status{
    border-top: 2px solid #6500FE;
    width: 100;
    &:before{
      background-color: #6500FE;
      border: none;
      transition: all 200ms ease-in;
    } 
    h4{
      margin-top: 20px;
      color: black;
    }
  }
}

}