// $borderSizeLarge: 60px;
// $borderSizeMedium: 50px;

// $fontColor: #1c1b20;
// $fontColorLight: #6d6d6d;
// $colorDefault: #f8f8fb;
// $colorHome: #ff5851;
// $colorContact: #89c2b7;
// $colorAbout: #7dca82;
// $colorIdeas: #414a6b;
// $colorCareers: #b49a85;
// $colorProjects: #d8d8d8;
// $colorPhilo: #f3c130;
// $pageBackground: #f8f8f8;

$purppleMaki: #6500FE;

// $transitionDuration : 500ms;
// $ease : cubic-bezier(0.7, 0, 0.3, 1);
// $ease2 : cubic-bezier(0.560, 0.000, 0.265, 1.000);
// $ease3 : cubic-bezier(1, 0, 0, 1);

// $mobile: 480px;
// $small: 767px;
// $medium: 992px;
// $large: 1600px;
// $vlarge: 1600px;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;900&display=swap');

.contact-button-top {

  list-style: none;
  margin: 0px;
  padding: 0px;
  a {
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px $purppleMaki;
    // border-color: $purppleMaki;
    border-radius: 25px;
    // border-style: solid 1px;
    background: none;
    color: $purppleMaki !important;
    font-family: 'Outfit', sans-serif !important;
    font-size: 13px !important;
    transition: ease 0.4s;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    cursor: pointer;
    // margin: -55px 70px -0px 0px;
    &:hover {
      background-color: $purppleMaki;
      color: white !important;
    }
  }
}

.maki-navbar{
  // background-color: red;
  // position: relative;
  // left: 40%;

  .maki-navbar- {
    width: 20vw;
  }
  a {
    color:#6500FE;
    // background-color: ;
    &:hover{
      background-color: #e4e4e4;
      color: #6500FE;
    }
  }
}

@media screen and (max-width: 540px) {
	.maki-show-menu {
    display: none;
	}
}

@media screen and (min-width: 540px) {
	.maki-menu-cel {
    display: none;
	}
}

.menu{
  z-index: 10;
  width: 100vw;
  background-color: #eeeeee;
  .item-menu{
    margin: 5px 0px 10px 50px;
    // border-style: outset;
    // border-radius: 5px;
  }
  a{
    color:#6500FE;
    text-decoration: none;
  }
}