.maki-box-proyectos {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects-container-text {
	.big-title-maki {
		position: relative;
		color: #F8F8F8;
		z-index: 2;
		font-size: 80px;
	}
	.line-title {
		position: absolute;
		z-index: 1;
		width: 200px; 
		height: 30px; 
		background-color: #6500FE
	}
}