.linkTo {
	// background-color: red;
	width: 500px;
	display: flex;
	flex-direction: row;

	a {
		width: 150px;
		transform: rotate(270deg);
		display: flex;
		align-items: flex-end;
		// justify-content: flex-start;
		color: white;
		text-decoration: none;

		img {
			transform: rotate(180deg);
			align-self: flex-end;
			margin: 50px 20px 5px 10px;
			height: 15px;
			transition: ease .9s;
		}
	}

	&:hover {
		img {
			margin-left: 55px;
		}
	}
}

.projects-container-text {
	background-color: #000;
	text-align: center;
	display: flex;
	.big-title-maki {
		color: #F8F8F8;
		z-index: 2;
		font-size: 80px;
	}
}

.projects-container-text-rigth {
	background-color: #FFF;
	height: 95vh;
	.text-box-container-projects {
		margin-left: 25%;
		.semi-big-title-maki {
			font-size: 50px;
		}
	}
}